@CHARSET "UTF-8";

html, body {
	font-family: sans-serif;
    background-color: #000;
    color: #eee;
}

h2 {
    font-family: sans-serif-light, sans-serif;
}

a {
    color: #9ce;
}

.kod {
	background-color: #7a7;
    color: #000;
	font-size: 10pt;
	border-top: #090 solid 1px;
	border-bottom: #090 solid 1px;
	font-family: monospace;
	white-space: nowrap;
}

kbd {
	background: #333;
	padding: 2px 5px;
	white-space: nowrap;
	min-width: 1em;
    border: 1px solid #bbb;
    border-right-color: #666;
    border-bottom-color: #666;
    font-family: sans-serif;
	line-height: 120%;
}

.toc {
	border: 1px solid #666;
	padding: 4px;
}

.contohHuruf {
	background: #ccc;
	border: 1px solid #666;
	padding: 3px;
	line-height: 120%;
}

.faq .a {
	color: #999;
}
